/******************************************************************************
*  docspace icon
******************************************************************************/
.bodywrapper .activityInnerContent {
	display: table-cell;
}
/******************************************************************************
*  activitiesList
******************************************************************************/

.bodywrapper ul.activitiesList  {
	position:relative;
	margin:0;
	list-style:none;
	padding:0;
    margin-bottom:1em;
}
.bodywrapper .activitiesList li {
	padding:10px;
	margin:0;
	margin-bottom:0;
	list-style:none;
    border-bottom:1px solid #e5e5e5;
    clear:both;
    overflow:hidden;
}
.bodywrapper .activitiesList li .activityInnerContent img{max-width:100px ;padding:3px; border:1px solid #ccc;}

.bodywrapper .activitiesList li:last-child {

}
.bodywrapper .activitiesList .itemImageLeft {
	margin-right:20px
}
.bodywrapper .activitiesList .itemImageRight {
	margin-left:20px
}

.bodywrapper .activitiesList li p {
	padding:0;
    margin:0;
}
.bodywrapper .activitiesList li.last {
	background:none;
}

.bodywrapper .activitiesList .timestamp {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.2em;
    margin-left:0.2em;
    display:block;
}
.bodywrapper .activitiesList .author {
	display:inline;
	margin:0;
	padding:0;
	font-weight:bold;
}
.bodywrapper .activitiesList .message {
	display:inline;
	margin:0;
	padding:0;
    margin-left:0.2em;
}
.bodywrapper .activitiesList .message2 {
	margin:0;
	padding:0;
}
/******************************************************************************
*  new-activity-form
******************************************************************************/
.bodywrapper .new-activity-form-item {
    padding: 10px;
    background-color:#f5f5f5;
}
.bodywrapper .new-activity-form textarea.activity-text{
    margin-bottom: 0.5em;
    width:98%;
    border:1px solid #0099ff;
    background-color:#fff;
}
.bodywrapper .new-activity-form input.activity-submit{

}
.bodywrapper .new-activity-form-content {
    margin-left: 85px;
    position:relative;
}
.bodywrapper .new-activity-form-bubble {
    width:20px;
    height:20px;
    position:absolute;
    top:15px;
    left:-19px;
    background:transparent url(img/bubble.png) no-repeat top left ;
}
